/*
    Plugin Name: Ahmeti Wp Güzel Sözler
    Plugin URI: http://ahmeti.net/
    Description: Rasgele söz ekleyebilir veya guncelleyebilirsiniz.
    Author: Ahmet İmamoğlu
    Version: 1.0
    Author URI: http://ahmeti.net/
*/

/* Admin Paneli */
#sayfala {overflow: hidden;width: 700px;height: 30px;padding-top: 10px}
#sayfala a {text-decoration: none}
.say_a {float:left; margin-right:5px;border:1px solid #94A3C4;padding:5px 0;text-align:center;width:25px}
.say_a:hover {background-color:LemonChiffon;}
.say_b {float:left; margin-right:5px;padding:6px 0;text-align:center;width:15px}
.say_aktif {float:left; margin-right:5px;border:1px solid #94A3C4;padding:5px 0;text-align:center;background-color:#CFF;width:25px;}
.say_sabit {float:left; margin-right:5px;border:1px solid #94A3C4;padding:5px 0;text-align:center;background-color:LemonChiffon;width:70px;cursor: default;}
.ahmeti_hata {background-color: #ff6666;border: 1px solid #ff3333;padding: 8px;font-size: 15px;font-weight: bold;color: #ffffff;width: 700px;}
.ahmeti_ok {background-color:#006633;border: 1px solid #003300;padding: 8px;font-size: 15px;font-weight: bold;color: #ffffff;width: 700px;}


/* Gösterim Sayfaları */
.gunun_sozu{padding: 10px;width: 490px;letter-spacing: 0.5px;display: block;line-height: 2em; font:oblique 15px/2em Georgia,serif;}
.gunun_sozu #soz_soz {}
.gunun_sozu #soz_sahibi {margin-top: 5px;text-align: right;color: #B96400;}
